body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.container{
  width: 980px;
  margin: 0;
}
header{
  background: #3b7a9d;
  height: 5px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.container1{
  width: 980px;
  height: 125px;
  background: white;
  margin-left: 375px;
  margin-right: auto;
  display: inline-block;

}
.section1  .logo{
  width: 150px;
  height: 150px;
}
.container2{
  width: 980px;
  height: 60px;
  background: #3b7a9d;
  margin-right: auto;
  margin-left: auto;

}
.section2{
  background: white;
}
.container3{
  width: 300px;
  height: 400px;
  background: #222222;
  float: left;
  margin-left: 300px;
  margin-top: 50px;
}
.container4{
  width: 960px;
  height: 400px;
  background: black;
  float: left;
  margin-top: 50px;
}
.section3 .box{
  height: 180px;
  width: 225px;
  background: #222222;
  float: left;
  margin-left: auto;
  margin-right: 120px;
  margin-top: 40px;
  display: inline-block;
}
.section3{
  height: 230px;
  display: inline-block;
  margin-left: 300px;
  float: left;

}
.section4 .box1{
  height: 175px;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 120px;
  width: 225px;
}
.section4{
  height: 175px;
  display: inline-block;
  float: left;
  margin-left: 300px;
}
.section5{
  height: 470px;
  width: 410px;
  background-color: #555555;
  float: left;
  margin-left: 300px;
  display: inline-block;

}
.section6{
  height: 470px;
  width: 410px;
  background-color: #222222;
  float: left;
  margin-left: 20px;
}
.section6 >.video{
  height: 235px;
  width: 300px;
  color: violet;
  float: left;
  display: inline-block;
  background-color: violet;
}
.section6 > .text{
  float: left;
}
.section7{
  height: 470px;
  width: 410px;
  float: left;
  display: inline-block;
  background-color: #555555;
  margin-left: 20px;

}
.photo{
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-top: 40px;
}
/*.section1 > .container1 >.search{
  width: 250px;
  height: 35px;
  float: right;
  margin-top: 50px;
}
*/
form{
  position: relative;
  width: 250px;
  height: 35px;
  float: right;
  margin-top: 50px;

}
button{
  width: 70px;
  color: #3b7a9d;
  height: 35px;
}

